body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.home_container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #333;
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  display: block; 
  margin: 0 auto; 
  
}

p {
  color: #666;
  margin: 8px 0;
}

.item {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

.form {
 
  color: #333;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #217dbb;
}

.footer {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo para os botões do LinkedIn e GitHub */
.social-buttons {
  display: flex;
  flex-direction: row;
  align-items: center ;
  

  max-width: fit-content;
  

  margin: auto;
  margin-bottom: 30px; /* Espaço na parte inferior */
}

.social-buttons button {
  
  margin-right: 10px; /* Espaço entre os botões */
  background-color: #3498db; /* Cor azul para os botões */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.social-buttons a {
  text-align: center; /* Centraliza o texto horizontalmente */
  text-decoration: none; /* Remove a sublinhado padrão do link */
  color: #333; /* Cor do texto */
}

.social-buttons p {
  margin-top: 5px; /* Espaço superior para separar o texto da imagem */
  font-size: 14px; /* Tamanho da fonte do texto */
}

.social-buttons button:hover {
  background-color: #2980b9; /* Cor um pouco mais escura ao passar o mouse */
}
.social-buttons img {
  max-width: 10%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


/* Centralizar o texto */
.social-buttons h2 {

  text-align: center;
}